.heading-container {
  padding-top: 50px;
  padding-bottom: 50px;
}

.appointments-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.appointments-table {
  width: 70%;
  background-color: #72efdd;
}
