.search-buttons {
  padding-top: 5px;
  padding-bottom: 5px;
}

.save-changes {
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: Monaco;
}

.date-picker {
  padding-left: 15px;
}

.business-image {
  width: 285px;
  height: 200px;
}
