.search-title {
  font-family: "Tinos", serif;
  color: black;
}

.business-container {
  display: flex;
  justify-content: center;
}

.business-card-container {
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.search-fields {
  width: 400;
  display: flex;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
